@import url("../../node_modules/leaflet//dist//leaflet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 99vh;
  width: 100%;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100%;
}
